:root {

  font-size: 16px;

  --money: #1ea69a;
  --caribbean: #52dccb;
  --squid-ink: #212338;
  --midnight: #292c44;
  --dark-and-stormy: #343854;
  --plumette: #4a4e6d;
  --slate: #6b6d7c;
  --nebulous: #9294a0;
  --concrete: #b9b9c0;
  --magic: #cbcbd0;
  --grey-area: #e2e2e9;
  --subtle: #efeff5;
  --fog: #f5f5f8;
  --cloud: #fdfdfe;
  --clinical: #fff;

  --fs0: 1rem;
  --lh0: 1.5rem;
  --fs1: 1.125rem;
  --lh1: 1.688rem;
  --fs3: 1.424rem;
  --lh3: 2.136rem;
  --fs5: 1.802rem;
  --lh5: 2.703rem;
  --fs6: 2.027rem;
  --lh6: 3.041rem;
  --fs9: 2.887rem;
  --lh9: 4.33rem;
  --fs-1: 0.889rem;
  --lh-1: 1.333rem;
  --fs-2: 0.79rem;
  --lh-2: 1.185rem;
  --fs-3: 0.702rem;
  --lh-3: 1.053rem;


  --sp-xxs: 4px;
  --sp-xs: 8px;
  --sp-s: 16px;
  --sp-m: 24px;
  --sp-l: 32px;
  --sp-xl: 40px;
  --sp-xxl: 48px;
  --sp-xxxl: 56px;
  --sp-xxxxl: 64px;  

  --transition-timing: 0.2s ease;

}        

body {
  margin: 0;
  background-color: var(--cloud);
  padding: 0 var(--sp-m);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6, p, li {
  margin: 0;
}

button {
  outline: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: all var(--transition-timing);
}

a {
  text-decoration: none;
  color: var(--squid-ink);
}

input, textarea {
  box-shadow: inset 0px 0px 0px 1px var(--concrete);
  border: none;
  transition: box-shadow var(--transition-timing);
}
input:hover, textarea:hover {
  box-shadow: inset 0px 0px 0px 1px var(--slate);
}
input:focus, textarea:focus {
  outline: 0;
  box-shadow: inset 0px 0px 0px 1px var(--squid-ink);
}

input[type="radio"] {
  box-shadow: none;
}

/* Font styles */

.heading1 {
  font-size: var(--fs9);
  line-height: var(--lh9);
  font-weight: 600;
}
.heading2 {
  font-size: var(--fs6);
  line-height: var(--lh6);
  font-weight: 600;
}
.heading3 {
  font-size: var(--fs5);
  line-height: var(--lh5);
  font-weight: 600;
}
.heading4 {
  font-size: var(--fs3);
  line-height: var(--lh3);
  font-weight: 600;
}
.heading5 {
  font-size: var(--fs1);
  line-height: var(--lh1);
  font-weight: 600;
}
.heading6 {
  font-size: var(--fs-3);
  line-height: var(--lh-3);
  text-transform: uppercase;
  font-weight: 600;
}
.pageHeading {
  font-size: var(--fs0);
  line-height: var(--lh0);
  font-weight: 600;
}
.bodyLead {
  font-size: var(--fs0);
  line-height: var(--lh0);
  font-weight: 400;
}
.bodyLeadBold {
  font-size: var(--fs0);
  line-height: var(--lh0);
  font-weight: 600;
}
.bodyMain {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  font-weight: 400;
}
.bodyMainBold {
  font-size: var(--fs-1);
  line-height: var(--lh-1);
  font-weight: 600;
}
.bodySmall {
  font-size: var(--fs-2);
  line-height: var(--lh-2);
  font-weight: 400;
}
.bodySmallSemiBold {
  font-size: var(--fs-2);
  line-height: var(--lh-2);
  font-weight: 600;
}

/* utilities */

.mb-s {
  margin-bottom: var(--sp-s);
}

.ml-s {
  margin-left: var(--sp-s);
}

.mb-m {
  margin-bottom: 24px;
}

.mb-xl {
  margin-bottom: 64px;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.justify-self-end{
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-align-center {
  align-items: center;
}

.flex-align-start {
  align-items: flex-start;
}

.flex-justify-space-between {
  justify-content: space-between;
}

/* Main styles */

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  padding: var(--sp-xxs) var(--sp-m);
  background-color: var(--squid-ink);
}

.header__image {
  padding-left: var(--sp-s);
}

.content {
  padding-top: calc(58px + var(--sp-xxxxl));
  width: 760px;
  margin: auto;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: var(--sp-m);
  align-items: center;
  grid-template-areas: 
    "user-image date-area"
    "timeline content-area"
}

.content__date-header__top-nav {
  position: relative;
}

.search {
  position: relative;
  color: var(--squid-ink); 
  padding: var(--sp-xs) var(--sp-s);
  border-radius: var(--sp-s); 
}

.search__icon {
  position: absolute;
  fill: var(--nebuluos);
  right: var(--sp-xs);
  width: 16px;
  height: 16px;
}

.content__user-image {
  grid-area: user-image;
  background-image: url('me_dog.png');
  background-position: center;
  background-size: cover;
  border-radius: 100%;
  height: 200px;
}

.content__timeline {
  grid-area: timeline;
  align-self: start;
  justify-self: center;
}

.content__date-header__coach {
  color: var(--nebulous);
}

.content__date-header {
  grid-area: date-area;
}

.content__content-area {
  grid-area: content-area;
  align-self: start;
}

.icon-button {
  color: var(--concrete);
  background-color: transparent;
  margin-right: var(--sp-m);
  transition: color var(--transition-timing);
}

.icon-button:hover {
  color: var(--slate);
}

.icon-button svg {
  margin-right: var(--sp-xs);
}

.content__subheader {
  color: var(--slate);
}

.content__actions {
  margin-top: var(--sp-s);
}

/* Upcoming */

.content__upcoming__milestone-copy {
  font-weight: 400;
}

.content__upcoming__list {
  overflow: hidden;
  border-radius: 20px;
  max-width: 450px;
  border: 1px solid var(--grey-area);
  padding: 0;
}

.content__upcoming__list-link {
  background-color: var(--clinical);
  transition: background-color var(--transition-timing);
  cursor: pointer;
  padding: var(--sp-m) var(--sp-m);
}

.content__upcoming__list-link:hover {
  background-color: var(--fog);
}

.emoji {
  font-size: 30px;
}

.emoji__small {
  font-size: 20px;
}

.content__upcoming__list-link__copy-wrapper {
  margin-left: var(--sp-s);
}

.content__upcoming__list-link__copy {
  color: var(--slate);
}

/* Timeline */

.content__timeline__nav-item {
  color: var(--nebulous);
  background: transparent;
  padding: var(--sp-xs) var(--sp-s);
  border-radius: var(--sp-m);
}

.content__timeline__nav-item:hover {
  color: var(--squlid-ink);
  background-color: var(--fog); 
}

.content__timeline__nav-item.content__timeline__nav-item--active {
  color: var(--squid-ink);
  cursor: initial;
}

.content__timeline__nav-item.content__timeline__nav-item--active:hover {
  background-color: transparent; 
}

.content__timeline__wrapper {
  border-left: 1px solid var(--nebulous);
  height: 0;
  overflow: hidden;
  margin-left: var(--sp-s);
  padding-left: var(--sp-s);
}

.content__timeline__wrapper--open {
  height: 100%;
  margin-top: var(--sp-s);
  margin-bottom: var(--sp-s);
}

.content__timeline__node {
  position: relative;
  margin-bottom: var(--sp-s);
}

.content__timeline__node--more-padding {
  margin-bottom: var(--sp-l);
}

.content__timeline__node::before {
  content: '';
  position: absolute;
  left: -20px;
  width: var(--sp-xs);
  height: var(--sp-xs);
  background-color: var(--nebulous);
  border-radius: 100%;
  transition: all var(--transition-timing);
}

.content__timeline__node:hover::before {
  transform: scale(1.5);
  background-color: var(--squid-ink);
} 

.content__timeline__node__copy {
  color: var(--slate); 
  margin-left: var(--sp-xs)
}

.content__timeline__node:hover .content__timeline__node__copy {
  color: var(--squid-ink);
}

.content__timeline__node__copy__description {
  color: var(--slate);
}

/* Upload */

.content__uplaod-ui {
  box-shadow: inset 0px 0px 0px 1px var(--grey-area);
  background-color: var(--clinical);
  border-radius: 20px;
  padding: var(--sp-l);
  margin-bottom: var(--sp-l); 
  cursor: pointer;
  transition: box-shadow var(--transition-timing);
}

.content__uplaod-ui__copy {
  margin-left: var(--sp-m);
}

.content__uplaod-ui:hover {
  box-shadow: inset 0px 0px 0px 3px var(--squid-ink);
}

.content__uplaod-ui__copy__description {
  color: var(--slate);
}

.content__uplaod-ui__icon {
  width: 40px;
  height: 40px;
}

/* Privacy UI */

.privacy-input__item label, .privacy-input__item input {
  cursor: pointer;
}

.privacy-input__item__description {
  color: var(--slate); 
}

/* Content add */

.content__add__upload-ui, .content__add__writing {
  display: none;
}

.content__add__header {
  color: var(--slate); 
}

.content__add__close {
  fill: var(--concrete);
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: fill var(--transition-timing);
}

.content__add__close:hover {
  fill: var(--slate);
}

.content__add__upload-ui--open, .content__add__writing--open {
  display: block;
}

.content__add__textarea-ui {
  padding: var(--sp-m);
  width: 100%;
  margin-bottom: var(--sp-m);
  border-radius: 0px 0px 5px 5px;
  resize: vertical;
  min-height: 150px;
  margin-top: -1px;
}

.content__add__textarea-ui--header__item {
  background-color: transparent;
  cursor: pointer;
  padding: var(--sp-xs);
  width: 24px;
  text-align: center;
  transition: background-color var(--transition-timing);
}

.content__add__textarea-ui--header__item:hover {
  background-color: var(--grey-area);
}

.content__add__textarea-ui--header {
  border-radius: 5px 5px 0px 0px;
  background-color: var(--cloud);
  border: 1px solid var(--concrete);
  overflow: hidden;
}

.emphasis {
  font-family: serif;
}

.underline {
  text-decoration: underline;
}